<div class="container">

  <form action="" method="">

    <div class="card w-auto">
      <div class="card-body">
        <div class="form-control-sm">
          <label for="Name">Name:</label> &nbsp;
          <input type="text" id="Name" class="col-3"> &nbsp; &nbsp; &nbsp; &nbsp;

          <label for="Year">Year:</label> &nbsp;
          <select name="year" id="year" class="col-2">
            <option value=""></option>
            <option value="1">2019</option>
          </select> &nbsp; &nbsp; &nbsp; &nbsp;
          <label for="customRadioInline1">Active:</label> &nbsp; &nbsp; &nbsp;
          <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline1">Yes</label> &nbsp; &nbsp;

          <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline2">No</label> &nbsp; &nbsp; &nbsp;


          <button type="submit" class="btn btn-success"><i class="fas fa-filter"></i>Filter</button>

        </div>

      </div>
    </div>

  </form>
</div>
