<nav class="navbar navbar-expand-lg navbar-light bg-success"  >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" style="color: white">
      <li class="nav-item active">
        <a class="nav-link" >Poop Trivia Dashboard</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Change Application </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Close Session</a>
      </li> -->
    </ul>
  </div>
</nav>
<!-- /Card  -->
<!-- /Card  -->
<div class="container pb-2">
  <div class="row app-container p-2">
    <div class="col-lg-5  offset-md-1">
      <div class="card" style="width: 18rem; ">
        <div class="card-body" style="text-align: center">
          <div style="font-size: 250px; width: 100%; height: 100%" >
            <i class="fa fa-file fa-10x pt-2 pb-4, card-img-top" aria-hidden="true"></i><br>
          </div>
          <div class="card-footer"> <a class="nav-link bg-success navbar-dark" style="color: white;"  routerLink="quizzes">Quizzes</a></div>
        </div>
      </div>
    </div>

    <div class="col-lg-5  offset-md-1">
      <div class="card" style="width: 18rem; ">
        <div class="card-body" style="text-align: center">
          <div style="font-size: 250px; width: 100%; height: 100%" >
            <i class="fa fa-file fa-10x pt-2 pb-4, card-img-top" aria-hidden="true"></i><br>
          </div>
          <div class="card-footer"> <a class="nav-link bg-success navbar-dark" style="color: white;"  routerLink="fiows">Une Image Quatre Mots</a></div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Footer -->
<footer class="footer container-fluid">
  <div class="row">
    <p class="col small text-center mb-0">Copyright © 2021 | Kayfo </p>
  </div>
</footer>
<!-- /Footer -->
